<% unless @error.nil? %>
  display_message('<%= escape_javascript(@error) %>', 'error', 'trip_error', 'trip_submit');
<% else %>
  var match_box_elems = [];
  <% unless @trips.empty? %>
    //match_box_elems.push('<div class="match_explanation">Based on your flight information, we\'ve matched you with some existing RideGroups. Click on any one of these rides to join the group. Share a ride and pay only $15!</div><div class="small_spacer"></div>');
    <% @trips.each do |trip| %>
      match_box_elems.push(
        '<tr>' +
          '<td id="origin_<%= trip.id.to_s %>"><%= escape_javascript(@origins[trip.origin_id - 1].name) %></td>' +
          '<td id="airport_<%= trip.id.to_s %>"><%= @airports[trip.airport_id - 1].code %></td>' +
          '<td id="date_<%= trip.id.to_s %>"><%= trip.dateString %></td>' +
          '<td id="time_<%= trip.id.to_s %>"><%= trip.timeString %></td>' +
          '<td><%= button_tag "$16.00", :id => trip.id.to_s, :class => "trip btn btn-primary" %></td>' +
        '</tr>');
    <% end %>
    //match_box_elems.push('<div class="small_spacer"></div><div class="match_explanation">Don\'t like any of the options above? Start a new RideGroup by selecting the ride below!</div><div class="small_spacer"></div>');
  <% else %>
    //match_box_elems.push('<div class="small_spacer"></div><div class="match_explanation">We could not find any existing RideGroups with travel times near yours. But don\'t wait for someone else to start a RideGroup at a time near yours. It\'s to your benefit to add the group to the system as early as possible for others to join. Start a new RideGroup by selecting the ride below! </div><div class="small_spacer"></div>');
  <% end %>
  match_box_elems.push(
    '<tr>' +
      '<td id="origin_0"><%= escape_javascript(@origins[@trip.origin_id - 1].name) %></td>' +
      '<td id="airport_0"><%= @airports[@trip.airport_id - 1].code %></td>' +
      '<td id="date_0"><%= @trip.dateString %></td>' +
      '<td id="time_0"><%= @trip.timeString %></td>' +
      '<td><%= button_tag "$20.00", :id => "0", :class => "trip btn btn-danger" %></td>' +
    '</tr>');
  $('#match_table').empty();
  $('#match_table').append(match_box_elems.join(''));
  $('#trip_box').collapse('hide');
  $('#match_box').collapse('show');
  $('#trip_card_token:hidden').val('');
  $('#trip_id:hidden').val('');
  $('#new_trip_origin_id:hidden').val('<%= "#{@trip.origin_id}" %>');
  $('#new_trip_airport_id:hidden').val('<%= "#{@trip.airport_id}" %>');
  $('#trip_time:hidden').val('<%= "#{@time}" %>');
  //clear_message('trip_error');
  $('.trip').click(function(e) {
    $('#trip_id:hidden').val(e.delegateTarget.id);
    $('#selection_origin').html($('#origin_' + e.delegateTarget.id).html());
    $('#selection_airport').html($('#airport_' + e.delegateTarget.id).html());
    $('#selection_date').html($('#date_' + e.delegateTarget.id).html());
    $('#selection_time').html($('#time_' + e.delegateTarget.id).html());
    if (e.delegateTarget.id == '0') {
      $('#selection_price').html('$20.00');
    } else {
      $('#selection_price').html('$16.00');
    }
    $('#match_box').collapse('hide');
    $('#payment_box').collapse('show');
  });
    //$('.price_mouseover').tooltip({content: '<p>By creating a new RideGroup, you are placing this ride in RideGrouped’s matchmaking system so that other students will be able to join your group.</p><p>At least one other person must join your group for you to receive the $15 group price. If no one has joined your group 24 hours before your departure, RideGrouped will book your ride as a $20 single ride, which is the exact price of booking a single ride with SuperShuttle.</p>', items: '.price_mouseover'});
    //$('.delay_mouseover').tooltip({content: '<p>As per SuperShuttle policies, travelers on domestic flights must be picked up 3 hours ahead of their flight time. International travelers must be picked up 4 hours in advance.</p>', items: '.delay_mouseover'});
  //});
  //$('.price_mouseover').tooltip({content: '<p>By creating a new RideGroup, you are placing this ride in RideGrouped’s matchmaking system so that other students will be able to join your group.</p><p> At least one other person must join your group for you to receive the $15 group price. If no one has joined your group 24 hours before your departure, RideGrouped will book your ride as a $20 single ride, which is the exact price of booking a single ride with SuperShuttle.</p>', items: '.price_mouseover'});
  //$('.delay_mouseover').tooltip({content: '<p>As per SuperShuttle policies, travelers on domestic flights must be picked up 3 hours ahead of their flight time. International travelers must be picked up 4 hours in advance.</p>', items: '.delay_mouseover'});
<% end %>
