<div class="login_header"></div>
<div class="box about_box">
  <div class="box_title">How It Works</div>
</div>
<div class="box login_box">
  <div class="box_title">Login</div>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div>
      <%= f.label :email %>
    </div>
    <div>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
    </div>
    <div>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Login" %>
    </div>
  <% end %>
</div>
<div class="box register_box">
<div class="box_title">Register</div>
<%= form_for :user, :remote => true, url: users_path, :html => {:id => "register_form"} do |f| %>
  <div>
    <%= f.label :first_name %>
  </div>
  <div>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
  </div>
  <div>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit "Register" %>
  </div>
<% end %>
</div>

