<% content_for :head do %>
  <div id="login_box">
    <%= form_for :session, url: session_path do |f| %>
      <div id="login_email">
        <div class="login_label">
          <%= f.label :email %>
        </div>
        <div>
          <%= f.text_field :email, :id => "login_email_text" %>
        </div>
        <div id="login_error">
        </div>
      </div>
      <div id="login_password">
        <div class="login_label">
          <%= f.label :password %>
        </div>
        <div>
          <%= f.password_field :password, :id => "login_password_text" %>
        </div>
        <div id="forgot_password">
          <%= link_to "Forgot your password?", "/iforgot/new" %>
        </div>
      </div>
      <div id="login_submit">
        <%= f.submit "Login" %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="how_to"></div>
<div id="register_box" class="box">
  <div class="box_title">First time? Sign up for free!</div>
  <div id="register_error"></div>
  <div class="small_spacer"></div>
  <%= form_for :user, :remote => true, url: users_path, :html => {:id => "register_form"} do |f| %>
    <table id="register_table">
      <tbody>
        <tr>
          <td class="register_label"><%= f.label :first_name, "First Name" %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :last_name, "Last Name" %></td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :phone, "Cell Phone Number" %></td>
          <td><%= f.text_field :phone %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :email, "Stanford Email" %></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :email_confirmation, "Confirm Email" %></td>
          <td><%= f.text_field :email_confirmation %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :password %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td class="register_label"><%= f.label :password_confirmation, "Confirm Password" %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr id="submit_row">
          <td></td>
          <td align="right"><%= f.submit "Register", :id => "register_submit"%></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
