<% content_for :scripts do %>
  <style type="text/css">
    .rides td {
      font-size: 14px;
      border-bottom: 1px solid #c0c0c0;
      border-right: 1px solid #c0c0c0;
    }

    .agg {
      font-size: 12px;
      display: none;
    }

    .group_title {
      font-size: 16px;
    }
  </style>
<% end %>
<% content_for :head do %>
  <div id="menu">
    <span id="name"><%= @user.first_name + " " + @user.last_name %></span> | <%= link_to "Dashboard", user_path(@user.id) %> | <%= link_to "My Account", edit_user_path(@user.id) %> | <%= link_to "Logout", session_path, :method => :delete %>
  </div>
<% end %>

<% @unconfirmed.each do |u| %>
<div class="agg">
  <%= "https://www.ridegrouped.com/users/new?user_id=#{u.id}&auth_token=#{Digest::SHA2.hexdigest(u.id.to_s + u.password_salt + u.one_time_password)}" %>
</div>
<% end %>

<div class="box_title">All Rides: <%= @matches.size %> bookings made</div>
<div class="box_title">Solo Rides: <%= @solo.size %> solo rides</div>
<table id="solo_rides" class="rides">
  <tbody>
    <tr>
      <td align="center">RG Conf. #</td>
      <td align="center">Origin</td>
      <td align="center">Dest.</td>
      <td align="center">Date</td>
      <td align="center">Time</td>
      <td align="center">Full Name</td>
      <td align="center">SuNetID</td>
      <td align="center">Phone</td>
    </tr>
    <% @solo.each do |m| %>
      <tr>
        <td><%= m.id %></td>
        <td><%= @origins[m.trip.origin_id - 1].name %></td>
        <td><%= @airports[m.trip.airport_id - 1].code %></td>
        <td><%= m.trip.dateString %></td>
        <td><%= m.trip.timeString %></td>
        <td><%= m.user.first_name + " " + m.user.last_name %></td>
        <td><%= m.user.email %></td>
        <td><%= m.user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="spacer"></div>
<div class="box_title">Grouped Rides: <%= @grouped_count %> grouped rides</div>
    <% @groups.each do |g| %>
      <div class="group_title">Group Size: <%= g.size %></div>
      <table id="grouped_rides" class="rides">
        <tbody>
        <tr>
          <td align="center">RG Conf. #</td>
          <td align="center">Origin</td>
          <td align="center">Dest.</td>
          <td align="center">Date</td>
          <td align="center">Time</td>
          <td align="center">Full Name</td>
          <td align="center">SuNetID</td>
          <td align="center">Phone</td>
        </tr>
      <% g.each do |m|%>
        <tr>
          <td><%= m.id %></td>
          <td><%= @origins[m.trip.origin_id - 1].name %></td>
          <td><%= @airports[m.trip.airport_id - 1].code %></td>
          <td><%= m.trip.dateString %></td>
          <td><%= m.trip.timeString %></td>
          <td><%= m.user.first_name + " " + m.user.last_name %></td>
          <td><%= m.user.email %></td>
          <td><%= m.user.phone %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
      <div class="small_spacer"></div>
    <% end %>

