<% content_for :scripts do %>
  <style type="text/css">
    .rides td,
    .group_rides td{
      font-size: 14px;
      border-bottom: 1px solid #c0c0c0;
      border-right: 1px solid #c0c0c0;
    }

    .rides .nia td {
      border: none;
      height: 7px;
    }

    .agag {
      font-size: 12px;
    }

    .agg {
      font-size: 12px;
      display: none;
    }

    .group_title {
      font-size: 16px;
    }

    .rides,
    .group_rides {
      display: none;
    }

    .toggle {
      font-size: 14px;
      float: right;
    }

    .toggle:hover {
      color: #ff0000;
      cursor: pointer;
    }

    .group_button,
    .script_button,
    .merge_button,
    .update_button,
    .delete_button {
      font-size: 12px;
      padding: 0;
      margin: 0;
      width: 25px;
      height: 20px;
    }

    input[type=text] {
      font-size: 13px;
      width: 80px;
      margin: 0;
      padding: 0;
    }

    #script_area {
      font-size: 12px;
    }
  </style>
<% end %>
<header class="skinny">
  <div class="container">
    <div class="row">
      <div class="logo span10">
        <a href="/">
          <img src="/images/rg_logo_white.png" alt="">
          <h1 class="name">RideGrouped</h1>
        </a>
      </div>
      <div class="span2">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <%= "Hi, " + @user.first_name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Dashboard", root_url %></li>
            <li><%= link_to "My Rides", :controller => "users", :action => "myrides" %></li>
            <li><%= link_to "Edit account", edit_user_path(@user.id) %></li>

            <li><%= link_to "Log out", session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="content">
<div id="script_area"></div>
<div class="spacer"></div>
<div class="agag">Time filter: Between <%= @after.in_time_zone.strftime("%B %-d, %Y") %> and <%= @before.in_time_zone.strftime("%B %-d, %Y") %></div>
<div class="agag">Hidden airports:
  <% @airports.each do |a| %>
    <% if !@airports_shown.include?(a.id) %>
      <%= a.code %> &nbsp;
    <% end %>
  <% end %>
</div>
<div class="agag">Hidden pickup locations:
  <% @origins.each do |a| %>
    <% if !@origins_shown.include?(a.id) %>
      <%= a.name %> &nbsp;
    <% end %>
  <% end %>
</div>
<div class="spacer"></div>

<div class="box_title">All Rides: <%= @matches.size %> bookings made<span id="all_toggle" class="toggle">Toggle</span></div>
<table id="all_rides" class="rides" style="width:100px">
  <tbody>
    <tr>
      <td align="center">RG Conf. #</td>
      <td align="center">Origin</td>
      <td align="center">Dest.</td>
      <td align="center">Date</td>
      <td align="center">Time</td>
      <td align="center">Full Name</td>
      <td align="center">SuNetID</td>
      <td align="center">Phone</td>
    </tr>
    <% 0.upto(@matches.size - 1) do |i| %>
      <tr>
        <td><%= @matches[i].id %></td>
        <td><%= @origins[@matches[i].trip.origin_id - 1].name %></td>
        <td><%= @airports[@matches[i].trip.airport_id - 1].code %></td>
        <td><%= @matches[i].trip.dateString %></td>
        <td><%= @matches[i].trip.timeString %></td>
        <td><%= @matches[i].user.first_name + " " + @matches[i].user.last_name %></td>
        <td><%= @matches[i].user.email %></td>
        <td><%= @matches[i].user.phone %></td>
      </tr>
      <% if i < @matches.size - 1 && @matches[i].trip.id != @matches[i+1].trip.id %>
        <tr class="nia"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="spacer"></div>
<div class="box_title">Solo Rides: <%= @solo.size %> solo rides<span id="solo_toggle" class="toggle">Toggle</span></div>
<table id="solo_rides" class="rides">
  <tbody>
    <tr>
      <td align="center">RG Conf. #</td>
      <td align="center">Origin</td>
      <td align="center">Dest.</td>
      <td align="center">Date</td>
      <td align="center">Time</td>
      <td align="center">Full Name</td>
      <td align="center">SuNetID</td>
      <td align="center">Phone</td>
      <td align="center">SS Conf. #</td>
      <td align="center">Edit</td>
    </tr>
    <% @solo.each do |m| %>
      <tr>
        <td><%= m.id %></td>
        <td><%= @origins[m.trip.origin_id - 1].name %></td>
        <td><%= @airports[m.trip.airport_id - 1].code %></td>
        <td><%= m.trip.dateString %></td>
        <td><%= m.trip.timeString %></td>
        <td><%= m.user.first_name + " " + m.user.last_name %></td>
        <td><%= m.user.email %></td>
        <td><%= m.user.phone %></td>
        <td id="td_<%= m.trip.id %>">
          <% if m.trip.group_id == 0 && m.trip.time < @future %>
            <%= text_field_tag "group_" + m.trip.id.to_s, m.trip.group_id, :class => "group_input" %>
            <%= button_tag "Grp", :type => "button", :id => "g_" + m.trip.id.to_s, :class => "group_button" %>
            <%= button_tag "Scr", :type => "button", :id => "s_" + m.trip.id.to_s, :class => "script_button" %>
          <% else %>
            <%= m.trip.group_id %>
          <% end %>
        </td>
        <td>
          <% if m.trip.group_id == 0 && m.trip.time < @future %>
            <%= text_field_tag "merge_" + m.id.to_s, 0, :class => "merge_input" %>
            <%= button_tag "Mer", :type => "button", :id => "m_" + m.id.to_s, :class => "merge_button" %>
            <%= button_tag "Del", :type => "button", :id => "d_" + m.id.to_s, :class => "delete_button" %>
            <%= button_tag "Upd", :type => "button", :id => "u_" + m.trip.id.to_s, :class => "update_button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="spacer"></div>
<div class="box_title">Grouped Rides: <%= @grouped_count %> grouped rides<span id="group_toggle" class="toggle">Toggle</span></div>
    <% @groups.each do |g| %>
      <div class="group_rides">
        <div class="group_title">
          Group Size: <%= g.size %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          SS Conf. #:
          <span id="td_<%= g.first.trip.id %>">
            <% if g.first.trip.group_id == 0 && g.first.trip.time < @future %>
              <%= text_field_tag "input_" + g.first.trip.id.to_s, g.first.trip.group_id, :class => "group_input" %>
              <%= button_tag "Grp", :type => "button", :id => "g_" + g.first.trip.id.to_s, :class => "group_button" %>
              <%= button_tag "Scr", :type => "button", :id => "s_" + g.first.trip.id.to_s, :class => "script_button" %>
            <% else %>
              <%= g.first.trip.group_id %>
            <% end %>
          </span>
        </div>
        <table>
          <tbody>
          <tr>
            <td align="center">RG Conf. #</td>
            <td align="center">Origin</td>
            <td align="center">Dest.</td>
            <td align="center">Date</td>
            <td align="center">Time</td>
            <td align="center">Full Name</td>
            <td align="center">SuNetID</td>
            <td align="center">Phone</td>
            <td align="center">Edit</td>
          </tr>
        <% g.each do |m|%>
          <tr>
            <td><%= m.id %></td>
            <td><%= @origins[m.trip.origin_id - 1].name %></td>
            <td><%= @airports[m.trip.airport_id - 1].code %></td>
            <td><%= m.trip.dateString %></td>
            <td><%= m.trip.timeString %></td>
            <td><%= m.user.first_name + " " + m.user.last_name %></td>
            <td><%= m.user.email %></td>
            <td><%= m.user.phone %></td>
            <td>
              <% if m.trip.group_id == 0 && m.trip.time < @future %>
                <%= text_field_tag "merge_" + m.id.to_s, 0, :class => "merge_input" %>
                <%= button_tag "Mer", :type => "button", :id => "m_" + m.id.to_s, :class => "merge_button" %>
                <%= button_tag "Del", :type => "button", :id => "d_" + m.id.to_s, :class => "delete_button" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
        </table>
        <div class="small_spacer"></div>
      </div>
    <% end %>
<div class="spacer"></div>
<div class="box_title">Total Users: <%= @user_count %> confirmed users</div>
<%= form_for "", url: "/admin", :remote => true, :html => {:id => "edit_form"} do |f| %>
  <%= hidden_field_tag :mode, "" %>
  <%= hidden_field_tag :trip_id, "" %>
  <%= hidden_field_tag :match_id, "" %>
  <%= hidden_field_tag :group_id, "" %>
  <%= hidden_field_tag :merge_id, "" %>
<% end %>
<script>
  $(document).ready(function() {
    var all = false;
    var solo = false;
    var group = false;
    var unbooked = false;
    $('#all_toggle').click(function() {
      if (all) {
        $('#all_rides').css('display', 'none');
      } else {
        $('#all_rides').css('display', 'block');
      }
      all = !all;
    });

    $('#solo_toggle').click(function() {
      if (solo) {
        $('#solo_rides').css('display', 'none');
      } else {
        $('#solo_rides').css('display', 'block');
      }
      solo = !solo;
    });

    $('#group_toggle').click(function() {
      if (group) {
        $('.group_rides').css('display', 'none');
      } else {
        $('.group_rides').css('display', 'block');
      }
      group = !group;
    });

    $('#unbooked_toggle').click(function() {
      if (unbooked) {
        $('#unbooked_users').css('display', 'none');
      } else {
        $('#unbooked_users').css('display', 'block');
      }
      unbooked = !unbooked;
    });

    $('.group_button').click(function(e) {
      $('#mode:hidden').val('group');
      $('#trip_id:hidden').val(e.delegateTarget.id.substr(2));
      $('#group_id:hidden').val($('#group_'+e.delegateTarget.id.substr(2)).val());
      $('#merge_id:hidden').val('');
      $('.group_button').attr('disabled', 'true');
      $('#edit_form').submit();
    });

    $('.script_button').click(function(e) {
      $('#mode:hidden').val('script');
      $('#trip_id:hidden').val(e.delegateTarget.id.substr(2));
      $('#group_id:hidden').val('');
      $('#merge_id:hidden').val('');
      $('.script_button').attr('disabled', 'true');
      $('#edit_form').submit();
    });

    $('.merge_button').click(function(e) {
      $('#mode:hidden').val('merge');
      $('#trip_id:hidden').val('');
      $('#match_id:hidden').val(e.delegateTarget.id.substr(2));
      $('#group_id:hidden').val('');
      $('#merge_id:hidden').val($('#merge_'+e.delegateTarget.id.substr(2)).val());
      $('.merge_button').attr('disabled', 'true');
      $('#edit_form').submit();
    });

    $('.update_button').click(function(e) {
    })

    $('.delete_button').click(function(e) {
      $('#mode:hidden').val('delete');
      $('#trip_id:hidden').val('');
      $('#match_id:hidden').val(e.delegateTarget.id.substr(2));
      $('#group_id:hidden').val('');
      $('#merge_id:hidden').val('');
      $('.delete_button').attr('disabled', 'true');
      $('#edit_form').submit();
    });
  });
</script>
</div>
