<% content_for :scripts do %>
  <style type="text/css">
    #all_rides td {
      font-size: 14px;
      border-bottom: 1px solid #c0c0c0;
      border-right: 1px solid #c0c0c0;
    }
  </style>
<% end %>
<% content_for :head do %>
  <div id="menu">
    <span id="name"><%= @user.first_name + " " + @user.last_name %></span> | <%= link_to "Dashboard", user_path(@user.id) %> | <%= link_to "My Account", edit_user_path(@user.id) %> | <%= link_to "Logout", session_path, :method => :delete %>
  </div>
<% end %>

<div class="box_title">All Rides <%= @matches.size %> bookings made</div>
<table id="all_rides">
  <tbody>
    <tr>
      <td align="center">RG Conf. #</td>
      <td align="center">Origin</td>
      <td align="center">Dest.</td>
      <td align="center">Date</td>
      <td align="center">Time</td>
      <td align="center">Full Name</td>
      <td align="center">SuNetID</td>
      <td align="center">Phone</td>
    </tr>
    <% @matches.each do |m| %>
      <tr>
        <td><%= m.id %></td>
        <td><%= @origins[m.trip.origin_id - 1].name %></td>
        <td><%= @airports[m.trip.airport_id - 1].code %></td>
        <td><%= m.trip.dateString %></td>
        <td><%= m.trip.timeString %></td>
        <td><%= m.user.first_name + " " + m.user.last_name %></td>
        <td><%= m.user.email %></td>
        <td><%= m.user.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
