<% content_for :head do %>
  <div id="menu">
    <span id="name"><%= @user.first_name + " " + @user.last_name %></span> | <%= link_to "Dashboard", user_path(@user.id) %> | <%= link_to "Logout", session_path, :method => :delete %>
  </div>
<% end %>
<div id="edit_box" class="box">
  <div class="box_title">Edit Account</div>
  <%= form_for :user, :remote => true, :method => :put, url: user_path(@user.id), :html => {:id => "edit_form"} do |f| %>
    <div id="edit_error"></div>
    <div class="small_spacer"></div>
    <div>
      <%= f.label :first_name %>
    </div>
    <div>
      <%= f.text_field :first_name, :value => @user.first_name %>
    </div>
    <div>
      <%= f.label :last_name %>
    </div>
    <div>
      <%= f.text_field :last_name, :value => @user.last_name %>
    </div>
    <div>
      <%= f.label :phone %>
    </div>
    <div>
      <%= f.text_field :phone, :value => @user.phone %>
    </div>
    <div>
      <%= f.label :email %>
    </div>
    <div>
      <%= text_field_tag nil, @user.email, :readonly => true %>
    </div>
    <div>
      <%= f.label :password, "New Password"  %>
    </div>
    <div>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Confirm New Password" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation %>
    </div>
    <div>
      <%= label_tag :user_current_password, "Current Password" %>
    </div>
    <div>
      <%= password_field_tag :user_current_password %>
    </div>
    <div>
      <%= f.submit "Edit" %>
    </div>
  <% end %>
</div>

