<header class="skinny">
  <div class="container">
    <div class="row">
      <div class="logo span10">
        <a href="/">
          <img src="/images/rg_logo_white.png" alt="">
          <h1 class="name">RideGrouped</h1>
        </a>
      </div>
      <div class="span2">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <%= "Hi, " + @user.first_name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Dashboard", root_url %></li>
            <li><%= link_to "My Rides", :controller => "users", :action => "myrides" %></li>
            <% if @user.admin then%>
              <li> <%= link_to "Admin", admin_path %></li>
            <% end %>
            <li><%= link_to "Log out", session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="container">
    <div id="edit_box" class="span12">
      <h3>Edit Account for <%= @user.email %></h3>
        <%= form_for :user, :remote => true, :method => :put, url: user_path(@user.id), :html => {:id => "edit_form"} do |f| %>
          <div id="edit_error"></div>
          <div class="span8">
            <div class="row">
              <div class="span4">
                <h4>First Name</h4>
                <%= f.text_field :first_name, :value => @user.first_name, :maxlength => 15 %>
              </div>
              <div class="span4">
                <h4>Current Password</h4>
                <%= password_field_tag :user_current_password, "", :maxlength => 31 %>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="span4">
                <h4>Last Name</h4>
                <%= f.text_field :last_name, :value => @user.last_name, :maxlength => 15 %>
              </div>
              <div class="span4">
                <h4>New Password</h4>
                <%= f.password_field :password, :maxlength => 31 %>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="span4">
                <h4>Cell Phone Number</h4>
                <%= f.text_field :phone, :value => @user.phone, :maxlength => 10 %>
              </div>
              <div class="span4">
                <h4>Confirm New Password</h4>
                <%= f.password_field :password_confirmation, :maxlength => 31 %>
              </div>
            </div>
          </div>
          <div class="span8">
            <div class="row">
              <div class="span4">
                <%= f.submit "Edit Account Info", :class => "btn btn-large btn-warning" %>
              </div>
              <div class="span4">
                <%= f.submit "Change Password", :class => "btn btn-large btn-warning" %>
              </div>
          </div>
          <script>
            $(document).ready(function() {
              $('#phone_mouseover').tooltip({content: '<p>Your Cell Phone Number should be 10 digits with no special characters. Note that this is the number SuperShuttle uses to contact you upon the arrival of your shuttle.</p>', items: '#phone_mouseover'});
              $('#new_password_mouseover').tooltip({content: '<p>You can leave this blank if you do not wish to change your password.</p>', items: '#new_password_mouseover'});
              $('#current_password_mouseover').tooltip({content: '<p>You must enter your Current Password correctly to submit any changes.</p>', items: '#current_password_mouseover'});
            });
          </script>
        <% end %>
      </div>
    </div>
  </div>
</div>
