<% content_for :scripts do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7fwbbsGPmOosBwJLq--b1YRyvPjZRa4U&sensor=false">
  </script>
 <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
 <script type="text/javascript">
    Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>');
 </script>
<% end %>

<% content_for :head do %>
  <div id="menu">
    <span id="name"><%= @user.first_name + " " + @user.last_name %></span> | <% if @user.admin %><%= link_to "Admin", admin_path %> | <% end %><%= link_to "My Account", edit_user_path(@user.id) %> | <%= link_to "Logout", session_path, :method => :delete %>
  </div>
<% end %>

<div class="spacer"></div>
<div id="map_box" class="box">
  <div class="box_title">Shuttle Pickup Locations</div>
  <div id="map_canvas"></div>
</div>

<% unless @matches.empty? %>
<script>
  $(document).ready(function () {
    $('#active_box').css('display', 'inline-block');
  });
</script>
<div id="active_box" class="box">
  <div class="box_title" >
    Active Rides
    <span id="show_new" class="tab">Book a New Ride</span>
  </div>
  <div class="small_spacer"></div>
  <% @matches.each do |m| %>
    <div class="active_trip">
      <div class="inline">
        <div>RideGrouped Confirmation Number: <%= m.id %></div>
        <div class="small_spacer"></div>
        <table>
          <tbody>
            <tr>
              <td align="right">Pickup Location: </td>
              <td><%= @origins[m.trip.origin_id - 1].name %></td>
            </tr>
            <tr>
              <td align="right">Street Address: </td>
              <td><%= @origins[m.trip.origin_id - 1].address %></td>
            </tr>
            <tr>
              <td align="right">Pickup Date: </td>
              <td><%= m.trip.dateString %></td>
            </tr>
            <tr>
              <td align="right">Pickup Time: </td>
              <td><%= m.trip.timeString %></td>
            </tr>
            <tr>
              <td align="right">Airport: </td>
              <td><%= @airports[m.trip.airport_id - 1].code %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% unless m == @matches.last %>
      <div class="spacer"></div>
    <% end %>
  <% end %>
  <div class="small_spacer"></div>
  <div>Please email us at service@ridegrouped.com with your RideGrouped Confirmation Number if you did not receive a "Booking Confirmation" email for any of the active rides above.</div>
</div>
<% else %>
<script>
  $(document).ready(function () {
    $('#trip_box').css('display', 'inline-block');
  });
</script>
<% end %>

<div id="trip_box" class="box">
  <div class="box_title">
    Book a New Ride
    <% unless @matches.empty? %>
      <span id="show_active" class="tab">Active Rides</span>
    <% end %>
  </div>
  <div id="trip_error"></div>
  <div class="small_spacer"></div>
  <%= form_for :trip, :remote => true, url: trips_path, :html => {:autocomplete => "off"} do |f| %>
    <div>
      <%= f.label :origin_id, "Pickup Location" %>
    </div>
    <div>
      <%= f.select :origin_id, @origin_choices, :include_blank => true %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <%= f.label :airport_id, "Airport" %>
    </div>
    <div>
      <%= f.select :airport_id, @airport_choices, :include_blank => true %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <%= f.label :type, "Flight Type" %>
    </div>
    <div>
      <%= f.select :type, [["Domestic", 1], ["International", 2]], :include_blank => true %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <%= f.label :date, "Date of Departure" %>
    </div>
    <div>
      <%= f.text_field :date %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <div class="inline">
        <%= f.label :time, "Flight Time" %>
      </div>
      <div class="time_mouseover inline mouseover">?</div>
    </div>
    <div class="variable_width_select">
      <%= f.select :hour, options_for_select((1..12).to_a), :include_blank => true %> :
      <%= f.select :minute, options_for_select((0..59).to_a.map {|m| m.to_s.rjust(2, "0")}), :include_blank => true %>
      <%= f.select :meridiem, options_for_select(["AM", "PM"]), :include_blank => true %>
    </div>
    <div class="spacer"></div>
    <div>
      <%= f.submit "Next", :id => "trip_submit" %>
    </div>
  <% end %>
</div>

<div id="match_box" class="box">
  <div class="box_title">Pick a Ride</div>
  <div id="match_error"></div>
  <div class="small_spacer"></div>
  <div id="match_box_variable"></div>
  <div class="spacer"></div>
  <div>
    <%= button_tag "Back", :type => "button", :id => "match_back_button" %>
    <%= button_tag "Next", :type => "button", :id => "match_next_button" %>
  </div>
</div>

<div id="payment_box" class="box">
  <div class="box_title">Confirm and Pay</div>
  <div id="payment_error"></div>
  <div class="small_spacer"></div>
  <%= form_for :trip, url: matches_path, :html => {:id => "payment_form", :autocomplete => "off"} do |f| %>
    <div id="picked_trip" class="picked_trip"></div>
    <div class="spacer"></div>
    <div id="donations">
      <div>
        <%= label_tag :donations, "Service Gratuity" %>
        <div id="donate_mouseover" class="inline mouseover">?</div>
      </div>
      <div>
        $<%= text_field_tag :donate_dollars, "", :maxlength => 1 %>.<%= text_field_tag :donate_cents, "", :maxlength => 2 %><span class="donations_percent"><%= button_tag "10%", :type => "button", :id => "donate_10_button" %><%= button_tag "20%", :type => "button", :id => "donate_20_button" %></span><span class="donations_amount"><%= button_tag "$0.75", :type => "button", :id => "donate_75_button" %><%= button_tag "$1.50", :type => "button", :id => "donate_150_button" %></span>
      </div>
      <div><span class="donations_percent">Total Price: $<span id="total_price">15.00</span></span></div>
      <div class="spacer"></div>
    </div>
    <div>
      <div class="inline">
        <%= label_tag :phone, "Cell Phone Number" %>
      </div>
      <div id="phone_mouseover" class="inline mouseover">?</div>
    </div>
    <div>
      <%= text_field_tag :phone, @user.phone, :maxlength => 10 %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <%= label_tag :card_number, "Credit Card Number" %>
    </div>
    <div>
      <%= text_field_tag nil, nil, {name: nil, id: "card_number", maxlength: 16} %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <div class="inline">
        <%= label_tag :card_code, "Security Code (CVC)" %>
      </div>
      <div id="cvc_mouseover" class="inline mouseover"><a target="_blank" href="https://en.wikipedia.org/wiki/Card_Verification_Code">?</a></div>
    </div>
    <div>
      <%= text_field_tag nil, nil, {name: nil, id: "card_code", maxlength: 4} %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <%= label_tag :card_exp, "Card Expiration" %>
    </div>
    <div class="variable_width_select">
      <%= select_month nil, {add_month_numbers: true, include_blank: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: 2013, end_year: 2021, include_blank: true}, {name: nil, id: "card_year"} %>
    </div>
    <div class="small_spacer"></div>
    <div>
      <div class="inline">
        <%= label_tag :password %>
      </div>
      <div id="password_mouseover" class="inline mouseover">?</div>
    </div>
    <div>
      <%= password_field_tag :password, "", :maxlength => 31 %>
    </div>
    <%= f.hidden_field :card_token %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :origin_id, :id => "new_trip_origin_id" %>
    <%= f.hidden_field :airport_id, :id => "new_trip_airport_id" %>
    <%= f.hidden_field :time %>
    <div class="spacer"></div>
    <div>
        <%= button_tag "Back", :type => "button", :id => "payment_back_button" %>
        <%= button_tag "Finish", :type => "button", :id => "payment_submit" %>
        <div id="finish_mouseover" class="inline mouseover">*</div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    $('.time_mouseover').tooltip({content: '<p>Please enter your exact flight time here. SuperShuttle is not accountable for any problems in the case that you have entered inaccurate flight information.</p>', items: '.time_mouseover'});
    $('#phone_mouseover').tooltip({content: '<p>This is the number SuperShuttle uses to contact you upon the arrival of your shuttle. Please double check to make sure it is correct.</p>', items: '#phone_mouseover'});
    $('#donate_mouseover').tooltip({content: '<p>Donate and help us grow? We would really appreciate it! Enter 0.00 if you do not wish to donate.</p>', items: '#donate_mouseover'});
    $('#cvc_mouseover').tooltip({content: '<p>Can\'t find your CVC? Click on the "?" for help.</p>', items: '#cvc_mouseover'});
    $('#password_mouseover').tooltip({content: '<p>For security purposes, please enter your password to complete this transaction.</p>', items: '#password_mouseover'});
    $('#finish_mouseover').tooltip({content: '<p>By confirming this reservation and paying for this service, you will be joining a shared ride with other Stanford students. The information for your specific shuttle and contact info of the students you will be riding with will be provided within 24 hours of your departure.</p><p>This reservation entitles you to bring two bags for check in and one carry on item aboard the SuperShuttle. Please make sure each item is under 50 pounds. In the case you have more or oversized items, please contact RideGrouped at service@ridegrouped.com as extra fees may be applicable.</p>', items: '#finish_mouseover'});
  });
</script>


