<div class="box match_box">
<div class="box_title">Pick your ride!</div>
<%= form_for(:trip, url: user_matches_path(current_user)) do |f| %>
  <div>
    <%= radio_button_tag :trip_id, "0", true %> 
    <%= label_tag "trip_id_0", "#{@origins[@trip.origin_id - 1].name} to #{@airports[@trip.airport_id - 1].code} #{@airports[@trip.airport_id - 1].terminal}" %>
  </div>
  <% @trips.each do |trip| %>
    <div>
      <%= radio_button_tag :trip_id, "#{trip.id}" %> 
      <%= label_tag "trip_id_#{trip.id}", "#{@origins[trip.origin_id - 1].name} to #{@airports[trip.airport_id - 1].code} #{@airports[trip.airport_id - 1].terminal}" %>
    </div>
  <% end %>
  <%= f.hidden_field :origin_id, :value => @trip.origin_id %>
  <%= f.hidden_field :airport_id, :value => @trip.airport_id %>
  <div>
    <%= f.submit "Next" %>
  </div>
<% end %>
</div>
