<div class="box">
<div class="box_title">Validate Account</div>
<%= form_for(:user, url: user_path(@id), :method => "put") do |f| %>
  <div>
    <%= f.label :temporary_password %>
  </div>
  <div>
    <%= f.password_field :temporary_password %>
  </div>
  <div>  
    <%= f.label :password %>
  </div>
  <div>  
    <%= f.password_field :password %>
  </div>
  <div>  
    <%= f.label :password_confirmation %>
  </div>
  <div>  
    <%= f.password_field :password_confirmation %>
  </div>
  <div>  
    <%= f.submit "Validate" %>
  </div>
<% end %>
</div>

