<!DOCTYPE html>
<html>
<head>
<title>Covoi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%= STRIPE_PUBLIC_KEY %>'); 
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="header_border">
      <div class="header_icon">
      </div>
    </div>
  </div>
  <div class="main">
    <% if flash.now[:notice] %>
      <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>
    <% if flash.now[:error] %>
      <p class="error"><%= flash.now[:error] %></p>
    <% end %>
    <%= yield %>
  </div>
  <div class="footer"></div>
</body>
</html>
