<!DOCTYPE html>
<html>
  <head>
    <title>RideGrouped</title>
    <%= favicon_link_tag "/images/favicon.ico" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inder" rel="stylesheet" type="text/css">
    <%= yield :scripts %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30118084-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0;url=<%= ENV['SERVER_HOSTNAME'] %>/nojs.html">
    </noscript>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <!--
      <div id="header_content">
        <div id="header_icon"></div>
        <%= yield :head %>
      </div>-->
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="logo span1">
            <img src="static/img/logo-dark-colorful.svg" alt="">
          </div>
          <div class="span7">
            <ul class="nav nav-pills">
              <li><a href="about.html">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
          <div id="copyright" class="span2 pull-right">
            <p>© Covoi, LLC.</p>
          </div>
        </div>
      </div>
    </footer>
    <!--
    <div id="main">
      <div id="main_content">
        <div class="small_spacer"></div>
        <div id="message_banner">
          <% if flash[:error] %>
            <script type="text/javascript">
              $('document').ready(function() {
                display_message('<%= escape_javascript(flash[:error][:message]) %>', 'error', '<%= escape_javascript(flash[:error][:id])%>', '');
              });
            </script>
          <% elsif flash[:notice] %>
            <script type="text/javascript">
              $('document').ready(function() {
                display_message('<%= escape_javascript(flash[:notice]) %>', 'notice', 'message_banner', '');
                alert('<%= escape_javascript(flash[:notice]) %>');
              });
            </script>
          <% end %>
        </div>
        <div class="spacer"></div>
      </div>
    </div>
    <div id="footer">
      <div class="small_spacer"></div>
      <div>
        Have any questions? Notice any bugs? Email us at service@ridegrouped.com
      </div>
      <div>
        &copy; Covoi, LLC All Rights Reserved | <%= link_to "Terms of Service", "/terms_of_service.pdf" , :target => "_blank"%>
      </div>
    </div>
    -->
  </body>
</html>
