<!DOCTYPE html>
<html>
  <head>
    <title>RideGrouped</title>
    <%= favicon_link_tag "/images/favicon.ico" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/humanity/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Inder" rel="stylesheet" type="text/css">
    <%= yield :scripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div id="header_content">
        <div id="header_icon"></div>
        <%= yield :head %>
      </div>
    </div>
    <div id="main">
      <script>
        $(document).ready(function() {
          if ($(window).height() > $('#main').height() + $('#header').height() + $('#footer').height() + 2) {
            $('#main').height($(window).height() - $('#header').height() - $('#footer').height() - 2);
          }
          $(window).resize(function () {
            if ($(window).height() > $('#main').height() + $('#header').height() + $('#footer').height() + 2) {
              $('#main').height($(window).height() - $('#header').height() - $('#footer').height() - 2);
            }
          });
        });
      </script>
      <div class="spacer"></div>
      <div id="main_content">
        <div id="message_banner">
          <% if flash[:error] %>
            <script type="text/javascript">
              $('document').ready(function() {
                display_message('<%= escape_javascript(flash[:error][:message]) %>', 'error', '<%= escape_javascript(flash[:error][:id])%>', '');
              });
            </script>
          <% elsif flash[:notice] %>
            <script type="text/javascript">
              $('document').ready(function() {
                display_message('<%= escape_javascript(flash[:notice]) %>', 'notice', 'message_banner', '');
                alert('<%= escape_javascript(flash[:notice]) %>');
              });
            </script>
          <% end %>
        </div>
        <%= yield %>
        <div class="spacer"></div>
      </div>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
